/* xs */
@media (max-width: 475px) {
    .drop_menu{
        /* padding-left: 1px !important;
        padding-right:2px !important; */
        padding: 10px 8px !important;

    }
    .dropmenu_txt{
        font-size: 0.65rem;
    }
}
  @media (max-width: 385px) {
  
  }


